<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcdI1JMU-SLPtcNWivscvpD8v-0Yrn5oE</string>
	<key>GCM_SENDER_ID</key>
	<string>315933424092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aaa.MapTest3</string>
	<key>PROJECT_ID</key>
	<string>coopaqui-f6cba</string>
	<key>STORAGE_BUCKET</key>
	<string>coopaqui-f6cba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315933424092:ios:f566e8c04c2d3e39e1b719</string>
</dict>
</plist>